<div *ngIf="hero">
<h1>{{hero.id}}</h1>
<h1>{{hero.name | uppercase}}</h1>




<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>

<button (click)="save()">save</button>
</div>

<button (click)="goBack()">go back</button>