<!--The content below is only a placeholder and can be replaced.-->

<nav>
    <a routerLink="/heroes">heroes</a>
</nav>
<nav>
    <a routerLink="/dashboard">dashboard</a>
</nav>
<app-messages></app-messages>
<router-outlet></router-outlet>
