<div>
    <label>Hero name:
        <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
        add
    </button>
</div>
<ul>
    <li *ngFor="let item of heroes" [class.selectedItem]="item === hero">
        <a routerLink="/detail/{{item.id}}">
            <span class="badge">{{item.id}}</span> {{item.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(item)">x</button>
    </li>
</ul>